<script src="__STATIC_ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
<script src="__STATIC_ADMIN__/js/x-admin.js"></script>
<script src="__STATIC_ADMIN__/js/jquery.min.js"></script>
<script src="__STATIC_ADMIN__/js/x-layui.js"></script>
<!-- {load href="__STATIC_ADMIN__/uploadify/jquery.uploadify.min.js" /}
{load href="__STATIC_ADMIN__/js/common.js" /} -->

<!-- {load href="__STATIC_ADMIN__/lib/bootstrap/css/bootstrap.css"}
{load href="__STATIC_ADMIN__/lib/bootstrap/js/bootstrap.js"}
 -->



<!--引入boostrap-->
